.container__photos {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  padding: 16px;
  margin: 0 auto;
  max-width: 1920px;
  width: 100%;
}

.photo {
  cursor: pointer;
  max-width: 150px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  &__delete_button {
    position: absolute;
    bottom: 0;
    right: 0;
    border: 0;
    width: 50px;
    background-color: red;
    color: #fff;
    height: 30px;
  }
}

.buttons__container {
  padding: 16px;
  display: flex;
  align-items: center;
  button {
    width: 150px;
    border: 0;
    height: 40px;
    background-color: aqua;
    border-radius: 10px;
    color: #fff;
    font-size: 25px;
    &:last-child {
      margin-left: 20px;
    }
    &:first-child {
      margin-right: 20px;
    }
  }
}
.page__number {
  color: blue;
  font-size: 25px;
}

.loading {
  padding: 16px;
  font-size: 25px;
}
